@(categories: Array[truyen.common.bo.truyen.CategoryBo])(implicit lang: Lang)
@import truyen.common._
@import play.mvc._
@import com.github.ddth.plommon.utils._
@_layout(
	active="categories",
	customJs=Array("avant-1.2.1/assets/plugins/datatables/jquery.dataTables.min.js",
	    "avant-1.2.1/assets/plugins/datatables/dataTables.bootstrap.js"),
    customCss=Array("avant-1.2.1/assets/plugins/datatables/dataTables.css")
){
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="@controllers.admin.routes.Admin.index()">@Messages("msg.dashboard")</a></li>
            <li class="active">@Messages("msg.categories")</li>
        </ol>

        <h1>@Messages("msg.categories")</h1>
    </div>
    
    <script type="text/javascript">
    function _addCategory() {
    	$('#dlgAddCategory').modal({});
    }
    function _editCategory(urlForm, urlAjaxData) {
        $.get(urlAjaxData, null, "json")
            .done(function(data, status, jqXHR){
                if ( data.status == 200 ) {
                	$('#frmedit').attr('action', urlForm);
                	$('#frmedit_title').val(data.message.title);
                    $('#frmedit_summary').val(data.message.summary);
                    $('#dlgEditCategory').modal({});
                } else {
                	alert("Error while processing, plrease retry. Error code: " + data.status);
                }
            })
            .fail(function(data, status, jqXHR){
                alert("Error while processing, plrease retry. Error code: " + status);
            });
    }
    function _deleteCategory(urlForm, urlAjaxData, txtConfirmation) {
    	$.get(urlAjaxData, null, "json")
	        .done(function(data, status, jqXHR){
	            if ( data.status == 200 ) {
	            	$('#frmdelete').attr('action', urlForm);
	            	$('#frmdelete_confirmation').html(txtConfirmation);
	            	$('#frmdelete_title').html(data.message.title);
	            	$('#frmdelete_summary').html(data.message.summary);
	                $('#dlgDeleteCategory').modal({});
	            } else {
	                alert("Error while processing, plrease retry. Error code: " + data.status);
	            }
	        })
	        .fail(function(data, status, jqXHR){
	            alert("Error while processing, plrease retry. Error code: " + status);
	        });
    }
    </script>
    <style type="text/css">.modal-title{text-transform:capitalize} label{font-weight:bold}</style>
    <div class="modal fade" id="dlgAddCategory" tabindex="-1" role="dialog" aria-labelledby="dlgAddCategory_Title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmadd" role="form" method="post" action="@controllers.admin.routes.Category.addCategorySubmit()">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title" id="dlgAddCategory_Title">@Messages("msg.add_category")</h4>
	                </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="frmadd_title">@Messages("msg.category.title")</label>
                            <input type="text" class="form-control" id="frmadd_title" name="title" placeholder="@Messages("msg.category.title")">
                        </div>
                        <div class="form-group">
                            <label for="frmadd_summary">@Messages("msg.category.summary")</label>
                            <textarea rows="6" class="form-control" id="frmadd_summary" name="summary" placeholder="@Messages("msg.category.summary")"></textarea>
                        </div>
                    </div>
	                <div class="modal-footer">
	                    <button type="submit" class="btn btn-primary">@Messages("msg.add_category")</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("msg.cancel")</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dlgEditCategory" tabindex="-1" role="dialog" aria-labelledby="dlgEditCategory_Title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmedit" role="form" method="post" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="dlgEditCategory_Title">@Messages("msg.edit_category")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="frmedit_title">@Messages("msg.category.title")</label>
                            <input type="text" class="form-control" id="frmedit_title" name="title" placeholder="@Messages("msg.category.title")">
                        </div>
                        <div class="form-group">
                            <label for="frmedit_summary">@Messages("msg.category.summary")</label>
                            <textarea rows="6" class="form-control" id="frmedit_summary" name="summary" placeholder="@Messages("msg.category.summary")"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">@Messages("msg.update")</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("msg.cancel")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dlgDeleteCategory" tabindex="-1" role="dialog" aria-labelledby="dlgDeleteCategory_Title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmdelete" role="form" method="post" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="dlgDeleteAuthor_Title">@Messages("msg.delete_category")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            <i class="fa fa-question-circle"></i> <span id="frmdelete_confirmation"></span>
                        </div>
                        <div id="frmdelete_title" style="font-weight: bold"></div>
                        <div id="frmdelete_summary"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">@Messages("msg.delete")</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("msg.cancel")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @_macro_displayPageFlashMessage(Controller.flash(controllers.admin.Category.VIEW_CATEGORIES))
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>@Messages("msg.categories")</h4>
                        <div class="options">
                            <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                            <a href="javascript:_addCategory();"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="panel-body collapse in">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="tblCategories">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th style="text-align: center;">@Messages("msg.category.title")</th>
                                    <th style="text-align: center;">@Messages("msg.category.num_books")</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(category <- categories){
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle" nowrap="nowrap">
                                            <a href="@controllers.admin.routes.Category.moveUpCategory(category.getId())"><i style="font-size: x-large;" class="fa fa-arrow-up"></i></a>
                                            <a href="@controllers.admin.routes.Category.moveDownCategory(category.getId())"><i style="font-size: x-large;" class="fa fa-arrow-down"></i></a>
                                        </td>
                                        <td style="vertical-align: middle">
                                            <b>@category.getTitle()</b>
                                            <p>@category.getSummary()</p>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle">@category.getNumBooks()</td>
                                        <td style="text-align: center; vertical-align: middle" nowrap="nowrap">
                                            <a href="javascript:;"
                                                onclick="_editCategory('@controllers.admin.routes.Category.editCategorySubmit(category.getId())', '@controllers.admin.routes.Json.category(category.getId())')"><i style="font-size: x-large; color: blue;" class="fa fa-edit"></i></a>
                                            <a href="javascript:;"
                                                onclick="_deleteCategory('@controllers.admin.routes.Category.deleteCategorySubmit(category.getId())', '@controllers.admin.routes.Json.category(category.getId())', '@Messages("msg.delete_category.confirmation", category.getTitle())')"><i style="font-size: x-large; color: red;" class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <script type="text/javascript">
                        $(document).ready(function() {
                            $('.datatables').dataTable({
                                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                                "sPaginationType": "bootstrap",
                                "oLanguage": {
                                    "sLengthMenu"  : "_MENU_ @Messages("msg.records_per_page")",
                                    "sSearch"      : "",
                                    "sEmptyTable"  : "@Messages("msg.nodata")",
                                    "sZeroRecords" : "@Messages("msg.nodata")",
                                    "sInfo"        : "@Messages("msg.datatables.sInfo")",
                                    "sInfoEmpty"   : "@Messages("msg.nodata")",
                                    "sInfoFiltered": "@Messages("msg.datatables.sInfoFiltered")",
                                    "oPaginate"    : {
                                        "sPrevious": "@Messages("msg.prev")",
                                        "sNext"    : "@Messages("msg.next")",
                                        "sFirst"   : "@Messages("msg.first")",
                                        "sLast"    : "@Messages("msg.last")"
                                    }
                                }
                            });
                            $('.dataTables_filter input').addClass('form-control').attr('placeholder','@Messages("msg.search")');
                            $('.dataTables_length select').addClass('form-control');
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
