@()(implicit lang: Lang)
@import truyen.common.util._
@import play.mvc._
@import com.github.ddth.plommon.utils._
@_layout(
	active="site",
	customJs=Array(),
    customCss=Array()
){
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="@controllers.admin.routes.Admin.index()">@Messages("msg.dashboard")</a></li>
            <li class="active">@Messages("msg.site_config")</li>
        </ol>

        <h1>@Messages("msg.site_config")</h1>
    </div>
    
    <style type="text/css">
        label{font-weight:bold} 
        .tab-pane > .container{border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding-top:10px;padding-bottom:10px;}</style>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @_macro_displayPageFlashMessage(Controller.flash(controllers.admin.Site.VIEW_SITE))
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab_website"><i class="fa fa-sitemap"></i> @Messages("msg.site_config.website")</a></li>
                    <li><a data-toggle="tab" href="#tab_facebook"><i class="fa fa-facebook"></i> @Messages("msg.site_config.facebook")</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab_website" class="tab-pane fade in active">
                        <div class="container">
                            <form role="form" method="post" action="@controllers.admin.routes.Site.siteConfigWebsiteSubmit()">
	                            <div class="form-group">
	                                <label for="frm_site_name">@Messages("msg.site_config.site_name")</label>
	                                <input type="text" class="form-control" id="frm_site_name" 
	                                   placeholder="@Messages("msg.site_config.site_name")" name="site_name" value="@TruyenUtils.conf("site.name")"/>
	                            </div>
	                            <div class="form-group">
                                    <label for="frm_site_title">@Messages("msg.site_config.site_title")</label>
                                    <input type="text" class="form-control" id="frm_site_title" 
                                       placeholder="@Messages("msg.site_config.site_title")" name="site_title" value="@TruyenUtils.conf("site.title")"/>
                                </div>
                                <div class="form-group">
                                    <label for="frm_site_keywords">@Messages("msg.site_config.site_keywords")</label>
                                    <input type="text" class="form-control" id="frm_site_keywords" 
                                       placeholder="@Messages("msg.site_config.site_keywords")" name="site_keywords" value="@TruyenUtils.conf("site.keywords")"/>
                                </div>
                                <div class="form-group">
                                    <label for="frm_site_description">@Messages("msg.site_config.site_description")</label>
                                    <input type="text" class="form-control" id="frm_site_description" 
                                       placeholder="@Messages("msg.site_config.site_description")" name="site_description" value="@TruyenUtils.conf("site.description")"/>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("msg.update")</button>
                                <button type="reset" class="btn btn-default"><i class="fa fa-rotate-left"></i> @Messages("msg.reset")</button>
	                        </form>
                        </div>
                    </div>
                    <div id="tab_facebook" class="tab-pane fade">
                        <div class="container">
	                        <form role="form" method="post" action="@controllers.admin.routes.Site.siteConfigFacebookSubmit()">
	                            <div class="form-group">
	                                    <label for="frm_fb_appid">@Messages("msg.site_config.fb_appid")</label>
	                                    <input type="text" class="form-control" id="frm_fb_appid" 
	                                       placeholder="@Messages("msg.site_config.frm_fb_appid")" name="fb_appid" value="@TruyenUtils.conf("facebook.app_id")"/>
	                                </div>
	                                <div class="form-group">
	                                    <label for="frm_fb_appscope">@Messages("msg.site_config.fb_appscope")</label>
	                                    <input type="text" class="form-control" id="frm_fb_appscope" 
	                                       placeholder="@Messages("msg.site_config.frm_fb_appscope")" name="fb_appscope" value="@TruyenUtils.conf("facebook.app_scope")"/>
	                                </div>
	                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("msg.update")</button>
	                                <button type="reset" class="btn btn-default"><i class="fa fa-rotate-left"></i> @Messages("msg.reset")</button>
	                        </form>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
