@(workers  : Array[truyen.common.bo.worker.WorkerBo],
    books  : Array[truyen.common.bo.truyen.BookBo],
    engines: Array[String]
)
@import truyen.common._
@import truyen.common.bo.truyen._
@import truyen.common.bo.worker._
@import play.mvc._
@import com.github.ddth.plommon.utils._
@_layout(
	active="workers",
	customJs=Array("avant-1.2.1/assets/plugins/datatables/jquery.dataTables.min.js",
	    "avant-1.2.1/assets/plugins/datatables/dataTables.bootstrap.js"),
    customCss=Array("avant-1.2.1/assets/plugins/datatables/dataTables.css")
){
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="@controllers.admin.routes.Admin.index()">@Messages("msg.dashboard")</a></li>
            <li class="active">@Messages("msg.workers")</li>
        </ol>

        <h1>@Messages("msg.workers")</h1>
    </div>
    
    <script type="text/javascript">
    function _addWorker() {
    	$('#dlgAddWorker').modal({});
    }
    function _editWorker(urlForm, urlAjaxData) {
        $.get(urlAjaxData, null, "json")
            .done(function(data, status, jqXHR){
                if ( data.status == 200 ) {
                	$('#frmedit').attr('action', urlForm);
                	$('#frmedit_book_id').val(data.message.book_id);
                	$('#frmedit_engine').val(data.message.engine);
                    $('#frmedit_url').val(data.message.url);
                    $('#dlgEditWorker').modal({});
                } else {
                	alert("Error while processing, plrease retry. Error code: " + data.status);
                }
            })
            .fail(function(data, status, jqXHR){
                alert("Error while processing, plrease retry. Error code: " + status);
            });
    }
    function _deleteWorker(urlForm, urlAjaxData, txtConfirmation) {
    	$.get(urlAjaxData, null, "json")
	        .done(function(data, status, jqXHR){
	            if ( data.status == 200 ) {
	            	$('#frmdelete').attr('action', urlForm);
	            	$('#frmdelete_confirmation').html(txtConfirmation);

	                $('#frmdelete_title').html(data.message.title);
                    $('#frmdelete_summary').html(data.message.summary);
	                $('#dlgDeleteBook').modal({});
	            } else {
	                alert("Error while processing, plrease retry. Error code: " + data.status);
	            }
	        })
	        .fail(function(data, status, jqXHR){
	            alert("Error while processing, plrease retry. Error code: " + status);
	        });
    }
    </script>
    <style type="text/css">.modal-title{text-transform:capitalize} label{font-weight:bold}</style>
    <div class="modal fade" id="dlgAddWorker" tabindex="-1" role="dialog" aria-labelledby="dlgAddWorker_Title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="frmadd" role="form" method="post" action="@controllers.admin.routes.Worker.addWorkerSubmit()">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title" id="dlgAddWorker_Title">@Messages("msg.add_worker")</h4>
	                </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group col-xs-6">
	                            <select class="form-control" name="book_id" id="frmadd_book_id">
	                                <option value="0">-= @Messages("msg.worker.book") =-</option>
	                                @for(book <- books){
	                                    <option value="@book.getId()">@book.getTitle()</option>
	                                }
	                            </select>
	                        </div>
	                        <div class="form-group col-xs-6">
                                <select class="form-control" name="engine" id="frmadd_engine">
                                    <option value="">-= @Messages("msg.worker.engine") =-</option>
                                    @for(engine <- engines){
                                        <option value="@engine">@engine</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="frmadd_url">@Messages("msg.worker.url")</label>
                            <input type="text" class="form-control" id="frmadd_url" name="url" placeholder="@Messages("msg.worker.url")">
                        </div>
                    </div>
	                <div class="modal-footer">
	                    <button type="submit" class="btn btn-primary">@Messages("msg.add_worker")</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("msg.cancel")</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dlgEditWorker" tabindex="-1" role="dialog" aria-labelledby="dlgEditWorker_Title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmedit" role="form" method="post" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="dlgEditWorker_Title">@Messages("msg.edit_worker")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group col-xs-6">
                                <select class="form-control" name="book_id" id="frmedit_book_id">
                                    <option value="0">-= @Messages("msg.worker.book") =-</option>
                                    @for(book <- books){
                                        <option value="@book.getId()">@book.getTitle()</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-xs-6">
                                <select class="form-control" name="engine" id="frmedit_engine">
                                    <option value="">-= @Messages("msg.worker.engine") =-</option>
                                    @for(engine <- engines){
                                        <option value="@engine">@engine</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="frmedit_url">@Messages("msg.worker.url")</label>
                            <input type="text" class="form-control" id="frmedit_url" name="url" placeholder="@Messages("msg.worker.url")">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">@Messages("msg.update")</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("msg.cancel")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dlgDeleteBook" tabindex="-1" role="dialog" aria-labelledby="dlgDeleteBook_Title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmdelete" role="form" method="post" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="dlgDeleteAuthor_Title">@Messages("msg.delete_book")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">
                            <i class="fa fa-question-circle"></i> <span id="frmdelete_confirmation"></span>
                        </div>
                        <div id="frmdelete_title" style="font-weight: bold"></div>
                        <div id="frmdelete_summary"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">@Messages("msg.delete")</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("msg.cancel")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @_macro_displayPageFlashMessage(Controller.flash(controllers.admin.Worker.VIEW_WORKERS))
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>@Messages("msg.workers")</h4>
                        <div class="options">
                            <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                            <a href="javascript:_addWorker();"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="panel-body collapse in">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed table-bordered datatables" id="tblWorkers">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">@Messages("msg.worker.url")</th>
                                    <th style="text-align: center;">@Messages("msg.worker.engine")</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(worker <- workers){
                                    <tr>
                                        <td style="vertical-align: middle">
                                            <span style="font-weight: bold">@if(worker.getBook()!=null){@worker.getBook().getTitle()}else{-}</span>
                                            <br />
                                            @worker.getUrl()
                                        </td>
                                        <td style="text-align: center; vertical-align: middle">
                                            @worker.getEngine()
                                        </td>
                                        <td style="text-align: center; vertical-align: middle" nowrap="nowrap">
                                            <a href="javascript:;"
                                                onclick="_editWorker('@controllers.admin.routes.Worker.editWorkerSubmit(worker.getId())', '@controllers.admin.routes.Json.worker(worker.getId())')"><i style="font-size: x-large; color: blue;" class="fa fa-edit"></i></a>
                                            <a href="javascript:;"
                                                onclick="_deleteWorker('@controllers.admin.routes.Worker.deleteWorkerSubmit(worker.getId())', '@controllers.admin.routes.Json.worker(worker.getId())', '@Messages("msg.delete_worker.confirmation", worker.getId())')"><i style="font-size: x-large; color: red;" class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <script type="text/javascript">
                        $(document).ready(function() {
                            $('.datatables').dataTable({
                                "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>",
                                "sPaginationType": "bootstrap",
                                "oLanguage": {
                                    "sLengthMenu"  : "_MENU_ @Messages("msg.records_per_page")",
                                    "sSearch"      : "",
                                    "sEmptyTable"  : "@Messages("msg.nodata")",
                                    "sZeroRecords" : "@Messages("msg.nodata")",
                                    "sInfo"        : "@Messages("msg.datatables.sInfo")",
                                    "sInfoEmpty"   : "@Messages("msg.nodata")",
                                    "sInfoFiltered": "@Messages("msg.datatables.sInfoFiltered")",
                                    "oPaginate"    : {
                                        "sPrevious": "@Messages("msg.prev")",
                                        "sNext"    : "@Messages("msg.next")",
                                        "sFirst"   : "@Messages("msg.first")",
                                        "sLast"    : "@Messages("msg.last")"
                                    }
                                }
                            });
                            $('.dataTables_filter input').addClass('form-control').attr('placeholder','@Messages("msg.search")');
                            $('.dataTables_length select').addClass('form-control');
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
