@(section: String=null)(implicit lang: Lang)
@import global.common._
@import play.mvc._
@import com.github.ddth.plommon.utils._
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
	@*
	<a id="rightmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a>
	*@

	<style type="text/css">@* replaced logo image with text *@
	.navbar-brand{width: auto !important; background: none !important; font: inherit !important; color: white !important; white-space:nowrap !important;}
	</style>
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
        </button>
		<a class="navbar-brand" href="/">@PlayAppUtils.appConfigString("app.name")</a>
	</div>
	
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav">
		    @for(menuItem <- Registry.getMenuBarItems()){
		        <li @if(section==menuItem.id){class="active"}><a href="@menuItem.url">@menuItem.title</a></li>
		    }
	    </ul>
	    @*
		<ul class="nav navbar-nav pull-right toolbar">
			<li class="dropdown"><a href="#" class="dropdown-toggle username"
				data-toggle="dropdown"><span class="hidden-xs">@Application.currentUser().getDisplayName()
				    <i class="fa fa-caret-down"></i></span><img src="@controllers.admin.routes.Assets.at("avant-1.2.1/assets/demo/avatar/dangerfield.png")" alt="Dangerfield" /></a>
				<ul class="dropdown-menu userinfo arrow">
					<li class="username"><a href="#">
						<div class="pull-right">
							<h5>@Messages("msg.hello", Application.currentUser().getDisplayName())</h5>
							<small>@Messages("msg.logged_in", Application.currentUser().getEmail())</small>
						</div>
					</a></li>
					<li class="userlinks">
						<ul class="dropdown-menu">
							<li><a href="@controllers.admin.routes.Backend.logout()" class="text-right">@Messages("msg.signout")</a></li>
						</ul>
					</li>
				</ul>
            </li>
		</ul>
		*@
	</div>
</header>
