@(xTimestamp: Array[Long])(implicit lang: Lang) 
@import com.github.ddth.plommon.utils._
@import play.mvc._
@import vngup.rtreports.common._
@_layout(
	active   = "dashboard",
	customJs = Array("highcharts-3.0.9/js/highcharts.js")
){
<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="@controllers.cp.routes.ModuleController.dashboard()">@Messages("msg.dashboard")</a></li>
    </ol>
</div>
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @defining(Controller.flash(controllers.cp.ModuleController.VIEW_DASHBOARD)){flashMsg =>
                @if(flashMsg!=null && !flashMsg.equals("")){
                    <div class="alert alert-info alert-dismissable">
                        <i class="fa fa-info-circle"></i> @flashMsg
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    </div>
                }
            }
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
	        <div class="panel panel-warning">
		        <div class="panel-heading"><h3 class="panel-title">@Messages("msg.cp.desc")</h3></div>
		        <div class="panel-body">
		            <div class="container" style="width: 100%">
		                <table class="table">
			                <tr>
				                <td>
				                </td>
			                </tr>
		                </table>
		            </div>
		        </div>
		    </div>
        </div>
    </div>
</div>
}