@(active: String="")(implicit lang: Lang)
<nav id="page-leftbar" role="navigation">
	<ul class="acc-menu" id="sidebar">
		<li @if(active== "dashboard"){class="active"}><a
			href="@controllers.paycharging.routes.ModuleController.dashboard()"><i
				class="fa fa-dashboard"></i> <span>@Messages("msg.dashboard")</span></a></li>
        <li @if(active== "date-compare"){class="active"}><a
            href="@controllers.paycharging.routes.ModuleController.dateCompare()"><i
                class="fa fa-bar-chart-o"></i> <span>@Messages("msg.dateCompare")</span></a></li>
	</ul>
</nav>
